{% extends "base.html" %}
{% load static %}


{% block extra_title %}- About us{% endblock %}
{% block page_header %}
<div class="page-overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col text-center my-3">
            <h2 class="logo-font text-dark">About Us</h2>
            <div class="delivery-banner row text-center">
                <div class="col">
                    <h5 class="delivery-cta my-1">A lifestyle and a community.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid page-container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Crossfit is a form of high intensity interval training which uses strength and conditioning with high intensity workouts. 
                CrossFit can be used to accomplish any goal, from improved health to weight loss to better performance. The program
                works for everyone — people who are just starting out and people who have trained for years.</p>
                <br>
                <p>XFIT Crossfit started in 2017 by a group of friends who wanted to train and build a community
                    together around fitness and health. Today we have over 100 members and classes ebery hour. We have
                    10 qualified coaches who run sessions throughout the week. We have a class for everyone and every
                    ability. Why not come down and see what we are all about?</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}