{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Classes{% endblock %}
{% block page_header %}
<div class="page-overlay"></div>
<div class="container header-container">
    <div class="row">
        <div class="col text-center my-3">
            <h2 class="logo-font text-dark">Class Schedule</h2>
            <div class="delivery-banner row text-center">
                <div class="col">
                    <h5 class="delivery-cta my-1">Workout your workout schedule to suit you</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid page-container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="table-responsive">
                <table class="table table-active table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th></th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">07:00 - 08:00</th>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="female-only">Female Only</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                        </tr>
                        <tr>
                            <th scope="row">08:00 - 09:00</th>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="female-only">Female Only</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="female-only">Female Only</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                        </tr>
                        <tr>
                            <th scope="row">09:00 - 10:00</th>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                        </tr>
                        <tr>
                            <th scope="row">10:00 - 11:00</th>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="female-only">Female Only</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                        </tr>
                        <tr>
                            <th scope="row">11:00 - 16:00</th>
                            <td>Open Gym</td>
                            <td>Open Gym</td>
                            <td>Open Gym</td>
                            <td>Open Gym</td>
                            <td>Open Gym</td>
                            <td class="kids-hour">Kids Hour</td>
                            <td class="kids-hour">Kids Hour</td>
                        </tr>
                        <tr>
                            <th scope="row">16:00 - 17:00</th>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="female-only">Female Only</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                        </tr>
                        <tr>
                            <th scope="row">17:00 - 18:00</th>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="female-only">Female Only</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                        </tr>
                        <tr>
                            <th scope="row">18:00 - 19:00</th>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="female-only">Female Only</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                        </tr>
                        <tr>
                            <th scope="row">19:00 - 20:00</th>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                            <td class="female-only">Female Only</td>
                            <td class="workout-of-day">Workout of Day</td>
                            <td class="weight-class">Weight Lifters</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}