{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-50">
        <div class="row h-50 row-top">
            <div class="col">
                <h1>Join XFIT crossfit box today</h1>
            </div>
            <div class="my-5">
                <h4>
                    <a href="" class="classes-button btn btn-lg rounded-0 text-uppercase py-3">Classes</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="fixed-bottom bottom-homepage-container spacer homepage-graphic">
        <div class="row h-50 row-bottom">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}