{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="homepage-overlay h-100"></div>
    <div class="container h-60">
        <div class="row h-100 row-top">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-white">Xtreme.</h1>
                <h1 class="display-4 text-white">Xtra.</h1>
                <h1 class="display-4 text-white">XFIT.</h1>
                <h5 class="text-white">Book your Xtreme today.</h5>
            </div>
            <div class="col-7 col-md-6 my-auto">
                <h4>
                    <a href="" class="classes-button btn btn-lg rounded-0 text-uppercase py-3">Membership Options</a>
                </h4>
                <h4>
                    <a href="" class="classes-button btn btn-lg rounded-0 text-uppercase py-3">Classes</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="container h-60">
        <div class="row h-100 row-top">
            <div class="col-7 col-md-6 my-auto">
            </div>
            <div class="col-7 col-md-6 my-auto">
            </div>
        </div>
    </div>
    <div class="bottom-homepage-container">
        <div class="row h-100 row-bottom">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}