{% extends "base.html" %}
{% load static %}


{% block extra_title %}- Memberships{% endblock %}
{% block page_header %}
<div class="page-overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col text-center my-3">
                <h2 class="logo-font text-dark">Memberships</h2>
                <div class="delivery-banner row text-center">
                    <div class="col">
                        <h5 class="delivery-cta my-1">To suit your style</h5>                
                    </div>            
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid page-container">
    <div class="row">
        <div class="col">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="membership-card-header">
                        <h4 class="my-0 font-weight-normal">Month Pass</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">£60</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Pay as you go</li>
                        </ul>
                        <a href="{% url 'shop' %}?category=membership" type="button"
                                class="btn btn-lg btn-block membership-btn-outline">Buy Now</a>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="membership-card-header">
                        <h4 class="my-0 font-weight-normal">Year Pass</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">£520</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Save £200 across the year</li>
                        </ul>
                        <a href="{% url 'shop' %}?category=membership" type="button"
                            class="btn btn-lg btn-block membership-btn-outline">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}