{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="page-overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Thank you</h2>
            <hr>
            <p>
            Your order has been placed. 
            </p>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}
