html {
    height: 100%;
}

body {
    background: url('/media/bastien-plu-h3D-RRvxfqE-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(253, 253, 253);
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
}

/* nav bar */

.memberships {
    background-color: #FF6F61;
}

a:hover {
    color: #FF6F61;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

.main-logo-link {
    width: fit-content;
}

.classes-button {
    background: #343a40;
    color: white;
    min-width: 260px;
    outline: 2px solid #FF6F61;
}

.logged-in {
    color: #FF6F61;
}

.btn-black {
    background: black;
    color: white;
}

.classes-button:hover,
.classes-button:active,
.classes-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-white {
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.bottom-homepage-container {
    background-color: #FF6F61;
    outline: 20px solid #343a40;
    height: 30%;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0.25rem;
    border: 0;
    border-top: 0px solid rgba(0,0,0,.1);
}

.main-menu {
    font-size: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 300px;
    background: rgba(0,0,0,0.6);
    transform: skew(143deg);
    right: 50%;
}

/*  
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.homepage-graphic {
    background-image: url('/media/wave-haikei_2.svg');
} */

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
