{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Thanks for getting in touch{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="page-overlay"></div>
<div class="container-fluid page-container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Thanks for your message!</h2>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>We have received your message and will get back to you as soon as possible.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}
