    <!--footer start-->
    <footer>
        <div class="footer-wrap">
            <div class="container first_class">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h3>BE THE FIRST TO KNOW</h3>
                        <p>Get all the latest information on XFIT Crossfit Box. Sign up for our newsletter today.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <form class="newsletter">
                            <input type="text" placeholder="Email Address">
                            <button class="newsletter_submit_btn" type="submit"><i
                                    class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="col-md-12">
                            <div class="standard_social_links">
                                <div>
                                    <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp"
                                                aria-hidden="true"></i></a>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h3 style="text-align: right;">Stay Connected</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second_class">
                <div class="container second_class_bdr">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="footer-logo">
                                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                                    <h2 class="logo-font text-white my-0"><strong>XFIT</strong> Crossfit Box</h2>
                                </a>
                            </div>
                            <p>Xtreme workouts. Xtra Gains.</p>
                        </div>
                        <div class="col-md-2 col-sm-6">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>OUR SERVICES</h3>
                            <ul class="footer-category">
                                <li><a href="#">Membership</a>
                                </li>
                                <li><a href="#">Class Schedule</a>
                                </li>
                                <li><a href="#">Book a class</a>
                                </li>
                                <li><a href="#">Shop</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Quick LInks</h3>
                            <ul class="footer-links">
                                <li><a href="#">Home</a>
                                </li>
                                <li><a href="#">About us</a>
                                </li>
                                <li><a href="#">Contact Us</a>
                                </li>
                                <li><a href="#" target="_blank">Terms &amp; Conditions</a>
                                </li>
                                <li><a href="#" target="_blank">Privacy Policy</a>
                                </li>
                                <li><a href="#">Sitemap</a>
                                </li>
                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="copyright"> Copyright 2022 | XFIT Crossfit Box</div>
                </div>
            </div>
        </div>
    </footer>

    <!--footer end-->