    <!--footer start-->
    <footer class="container-fluid">
        <div class="footer-wrap">
            <div class="footer-menu">
                <div class="container lower-menu">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="footer-logo">
                                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                                    <h2 class="logo-font text-white my-0"><strong>XFIT</strong> Crossfit Box</h2>
                                </a>
                            </div>
                            <p>Xtreme workouts. Xtra Gains.</p>
                        </div>
                        <div class="col-md-2 col-sm-6">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Quick links</h3>
                            <ul class="footer-category">
                                <li><a href="#">Membership</a>
                                </li>
                                <li><a href="">Class Schedule</a>
                                </li>
                                <li><a href="{% url 'shop' %}?category=xfit_essentials,shorts_leggings,tshirts_hoodies">Merchandise</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Admin</h3>
                            <ul class="footer-links">
                                <li><a href="{% url 'home' %}">Home</a>
                                </li>
                                <li><a href="{% url 'about' %}">About us</a>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact Us</a>
                                </li>
                                <li><a href="{% url 'privacypolicy' %}" target="_blank">Privacy Policy</a>
                                </li>
                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bottom-container">
                    <div class="copyright"> Copyright 2022 | XFIT Crossfit Box</div>
                </div>
            </div>
        </div>
    </footer>

    <!--footer end-->