/*
=========================================================================================
Shop Page
=========================================================================================
*/

.delivery-banner {
    padding-top: 15px;
}

.delivery-cta {
    color: #FF6F61 !important;
}

.product-container {
    padding-bottom: 40px;
}

a.category-button > span.badge:hover {
    background:#343a40 !important;
    color: #FF6F61 !important;
}

.search-bar {
    display: flex;
    align-items: flex-end;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    color: #e9ecef;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    color: #e9ecef;
}