/*
=========================================================================================
Shop Page
=========================================================================================
*/

.delivery-banner {
    padding-top: 15px;
}

.delivery-cta {
    color: #FF6F61 !important;
}

.product-container {
    padding-bottom: 40px;
}

a.category-button > span.badge:hover {
    background:#343a40 !important;
    color: #FF6F61 !important;
}

.search-bar {
    display: flex;
    align-items: flex-end;
}