{% extends "base.html" %}
{% load static %}


{% block extra_title %}- Classes{% endblock %}
{% block page_header %}
<div class="page-overlay"></div>
    <div class="container header-container">
        <div class="row">
            <div class="col text-center my-3">
                <h2 class="logo-font text-dark">Class Schedule</h2>
                <div class="delivery-banner row text-center">
                    <div class="col">
                        <h5 class="delivery-cta my-1">Workout your workout schedule to suit you</h5>                
                    </div>            
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid page-container">
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor TEST sit amet, consectetur adipiscing elit. Curabitur laoreet, lectus ut auctor luctus,
                velit id porttitor nisl odio ac ipsum. Nulla aliquet metus felis, ac commodo leo
                suscipit in. Cras sed tellus quis augue commodo laoreet ut ut erat. Suspendisse potenti. Aenean
                venenatis rutrum risus, rutrum fringilla ipsum pretium at. Maecenas ullamcorper arcu in hendrerit
                sagittis. Curabitur vitae enim ut massa malesuada venenatis nec eget tellus.

                Suspendisse suscipit imperdiet mauris ut auctor. Sed aliquet pellentesque feugiat. Aliquam erat
                volutpat. Donec vel orci et sapien faucibus pellentesque ac id urna. Etiam nec semper dui. Nullam ut
                pretium velit, id elementum mi. Fusce tristique volutpat tortor, nec tempus quam. Interdum et malesuada
                fames ac ante ipsum primis in faucibus. Aenean pulvinar volutpat mi sed imperdiet. Quisque lorem felis,
                laoreet ut elit quis, bibendum luctus nisl. Duis in eros quis dui semper commodo sit amet at nulla. Nunc
                condimentum elit auctor dictum rutrum. Fusce at risus a est sagittis sagittis. Proin efficitur quis
                lorem at accumsan. Cras id sem vel ligula mollis vestibulum sed a nulla.

                Phasellus porta leo magna, nec fringilla ligula posuere sed. Ut hendrerit nibh vitae mauris elementum
                porta. Vivamus metus velit, semper quis enim vehicula, vehicula mattis purus. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eu mauris urna. Etiam
                rhoncus a leo ut fermentum. Nunc pellentesque tempor dolor eu dictum. Aliquam scelerisque placerat sem,
                et elementum justo laoreet vel. Donec et ex cursus, cursus quam eu, euismod tellus. Suspendisse potenti.
                Aliquam ultricies a turpis at viverra. Nullam at semper nulla, eget rhoncus lectus.

                Vivamus quis laoreet lacus, ut eleifend nulla. Nam quis posuere leo. Donec eget maximus ante. Nulla eu
                consectetur orci. Curabitur vulputate, nunc non porta condimentum, velit tortor pharetra neque, pulvinar
                volutpat nibh augue pellentesque nulla. Nunc vel ipsum ut diam malesuada faucibus. Aliquam dui leo,
                mollis at laoreet sed, vehicula nec ligula. Sed in commodo leo, non mattis neque. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
        </div>
    </div>
</div>
{% endblock %}